#concts {
    background-color: grey;
    padding: 0;
    height: 93vh;
}

#show {
    display: inline-block;
    margin: 0;
    width: 70%;
    height: 100%;
    border: 2px solid white;
}

#tools {
    display: inline-block;
    margin: 0;
    width: 29%;
    border: 2px solid white;
}

.footer {
    position: absolute;
    bottom: 0;
    background-color: white;
    font-size: 1.2rem;
}

.right {
    float:right;
    margin-left: 10px;
}

#git {
    margin-bottom: 3px;
}